<h3>
   <span translate="myaccount-boost.label.new">
      New Myaccount
   </span>
</h3>
<br/>
<form method="post" class="form-horizontal"
      role="form" action="..." name="myaccountForm">
   
   <div class="form-group" >
      <span class="col-sm-3 text-right">
         <label for="option" class=" control-label"
                translate="myaccount-boost.label.balance">IBAN</label>
      </span>
      <span class="col-sm-9">
         <label for="option" class=" control-label">
            {{myaccount.balanceTmp}}
         </label>
      </span>
   </div>

   <div class="form-group" 
        ng-class="{'has-success':andOperator(myaccountForm.balance.$valid,myaccountForm.balance.$dirty),
               'has-error':andOperator(myaccountForm.balance.$invalid,myaccountForm.balance.$dirty)}">
      <span class="col-sm-3 text-right">
         <label for="option" class=" control-label"
                translate="myaccount-boost.label.amount">Amount</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="balance" 
                required="true"
                ng-attr-placeholder="{{'myaccount-boost.label.amount'|translate}}"
                ng-model="myaccount.balance"
                ></input>
         <p class="error text-danger"
            ng-show="andOperator(myaccountForm.balance.$error.required, myaccountForm.balance.$dirty)"
            translate="myaccount-boost.validator.iban.required">Iban is required</p>
      </div>
   </div>

   <div class="row">
      <div class="col-md-11">
         <button type="button"  
                 class="btn btn-primary btn-lg pull-right" 
                 ng-attr-title="{{'myaccount-boost.button.save'|translate}}"
                 ng-click="boostMyaccount()" 
                 ng-disabled="questionnaireTemplateForm.$invalid">

            <i class="fa fa-save"></i>
            <span translate="myaccount-boost.button.save">Save</span>
         </button>
      </div>
      <div class="col-md-1">  
         <a ng-click="cancel()" ng-attr-title="{{'myaccount-boost.button.cancel'|translate}}" class="btn btn-default pull-right">
            <i class="fa fa-undo"></i>
            <span translate="myaccount-boost.button.cancel">Cancel</span>
         </a>
      </div>
   </div>
</form>
