<div class="row">
   <div class="col-md-9 col-xs-12">
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'myaccount-details.myaccount.finishDate'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{myaccount.finishDate | date:'yyyy-MM-dd HH:mm'}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'myaccount-details.myaccount.startDate'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{myaccount.startDate | date:'yyyy-MM-dd HH:mm'}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'myaccount-details.myaccount.rateOfInterest'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{myaccount.rateOfInterest}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'myaccount-details.myaccount.interest'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{myaccount.interest}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'myaccount-details.myaccount.insurance'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{myaccount.insurance}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'myaccount-details.myaccount.installment'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{myaccount.installment}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'myaccount-details.myaccount.provision'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{myaccount.provision}}</div>
      </div>
   </div>
</div>

