<h3>
   <span translate="myaccount-edit.label.edit">
      New User
   </span>
</h3>
<br/>
<form method="post" class="form-horizontal"
      role="form" action="..." name="myaccountForm">
   <div class="form-group"
        ng-class="{'has-success':andOperator(myaccountForm.startDate.$valid,myaccountForm.startDate.$dirty),
               'has-error':andOperator(myaccountForm.startDate.$invalid,myaccountForm.startDate.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="myaccount-edit.label.startDate">Start Date</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="startDate" 
                required="true"
                ng-attr-placeholder="{{'myaccount-edit.label.startDate'|translate}}"
                ng-model="myaccount.startDate"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(myaccountForm.startDate.$error.required, myaccountForm.startDate.$dirty)"
            translate="myaccount-edit.validator.startDate.required">Start date is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(myaccountForm.finishDate.$valid,myaccountForm.finishDate.$dirty),
               'has-error':andOperator(myaccountForm.finishDate.$invalid,myaccountForm.finishDate.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="myaccount-edit.label.finishDate">Finish date</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="finishDate" 
                required="true"
                ng-attr-placeholder="{{'myaccount-edit.label.finishDate'|translate}}"
                ng-model="myaccount.finishDate"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(myaccountForm.finishDate.$error.required, myaccountForm.finishDate.$dirty)"
            translate="myaccount-edit.validator.finishDate.required">Finish date is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(myaccountForm.provision.$valid,myaccountForm.provision.$dirty),
               'has-error':andOperator(myaccountForm.provision.$invalid,myaccountForm.provision.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="myaccount-edit.label.provision">Provision</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="provision" 
                required="true"
                ng-attr-placeholder="{{'myaccount-edit.label.provision'|translate}}"
                ng-model="myaccount.provision"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(myaccountForm.provision.$error.required, myaccountForm.provision.$dirty)"
            translate="myaccount-edit.validator.provision.required">Provison is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(myaccountForm.installment.$valid,myaccountForm.installment.$dirty),
               'has-error':andOperator(myaccountForm.installment.$invalid,myaccountForm.installment.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="myaccount-edit.label.installment">Installment</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="installment" 
                required="true"
                ng-attr-placeholder="{{'myaccount-edit.label.installment'|translate}}"
                ng-model="myaccount.installment"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(myaccountForm.installment.$error.required, myaccountForm.installment.$dirty)"
            translate="myaccount-edit.validator.installment.required">Installment is required</p>
      </div>
   </div>
   
      <div class="form-group" 
   		ng-class="{'has-success':andOperator(myaccountForm.rateOfInterest.$valid,myaccountForm.rateOfInterest.$dirty),
               'has-error':andOperator(myaccountForm.rateOfInterest.$invalid,myaccountForm.rateOfInterest.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="myaccount-edit.label.rateOfInterest">Rate Of Interest</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="rateOfInterest" 
                required="true"
                ng-attr-placeholder="{{'myaccount-edit.label.rateOfInterest'|translate}}"
                ng-model="myaccount.rateOfInterest"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(myaccountForm.rateOfInterest.$error.required, myaccountForm.rateOfInterest.$dirty)"
            translate="myaccount-edit.validator.rateOfInterest.required">Rate Of Interest is required</p>
      </div>
   </div>
   
      <div class="form-group" 
   		ng-class="{'has-success':andOperator(myaccountForm.interest.$valid,myaccountForminterest.$dirty),
               'has-error':andOperator(myaccountForm.interest.$invalid,myaccountForm.interest.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="myaccount-edit.label.interest">Interest</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="interest" 
                required="true"
                ng-attr-placeholder="{{'myaccount-edit.label.interest'|translate}}"
                ng-model="myaccount.interest"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(myaccountForm.interest.$error.required, myaccountForm.interest.$dirty)"
            translate="myaccount-edit.validator.interest.required">Interest is required</p>
      </div>
   </div>
   
   <div class="form-group" >
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="myaccount-edit.label.insurance">Insurance</label>
      </span>
      <div class="col-sm-1">
         <input type="checkbox"
                class="form-control left"
                name="insurance" 
                ng-model="myaccount.insurance"
         ></input>
      </div>
   </div>

   <div class="row">
      <div class="col-md-11">
         <button type="button"  
                 class="btn btn-primary btn-lg pull-right" 
                 ng-attr-title="{{'myaccount-edit.button.save'|translate}}"
                 ng-click="saveMyaccount)" 
                 ng-disabled="questionnaireTemplateForm.$invalid">

            <i class="fa fa-save"></i>
            <span translate="myaccount-edit.button.save">Save</span>
         </button>
      </div>
      <div class="col-md-1">  
         <a ui-sref="myaccount.list" ng-attr-title="{{'myaccount-edit.button.cancel'|translate}}" class="btn btn-default pull-right">
            <i class="fa fa-undo"></i>
            <span translate="myaccount-edit.button.cancel">Cancel</span>
         </a>
      </div>
   </div>
</form>
