<h3>
   <span>
      {{'myaccount-list.label'|translate}}
   </span>
</h3>
<div class="row">
   <div class="col-md-4">
      <h4 translate="myaccount-list.label.count"
          translate-values="{count:'{{myaccounts.length}}'}"></h4>
   </div>
   <div class="col-md-5">
      <div ng-show="loading">
         <i class="fa fa-spinner fa-spin"></i>
         <span class="text-lowercase">{{'myaccount-list.label.loading'|translate}}</span>
      </div>
   </div>
<!--   <div class="col-md-3">
      <a class="btn btn-success"
         ui-sref="myaccount.add" >
         <i class="fa fa-plus-square"></i>
         <span class="hidden-xs" 
               translate="myaccount-list.label.add" >
            Create Myaccount
         </span>
      </a>
   </div>-->
</div>

<h4 class="text-center"
    ng-show="!myaccounts.length">
   {{'myaccount-list.label.noData'|translate}}
</h4>

<div ng-show="myaccounts.length">
   <div class="row row-header-bottom">
      <div class="hidden-xs col-md-3">{{'myaccount-list.label.myaccount.iban'|translate}}</div>
      <div class="hidden-xs col-md-2">{{'myaccount-list.label.myaccount.balance'|translate}}</div>
      <div class="hidden-xs col-md-2">{{'myaccount-list.label.myaccount.currency'|translate}}</div>
      <div class="hidden-xs col-md-2">{{'myaccount-list.label.myaccount.active'|translate}}</div>
      <div class="col-md-2"></div>
   </div>
   <div class="row row-custom" ng-repeat="myaccount in myaccounts ">
      <div class="col-xs-7 col-md-3">
         <!--<a ui-sref="myaccount.common.details({id: myaccount.accountId})">-->
            {{myaccount.iban}}
         <!--</a>-->
      </div>
            <div class="col-xs-7 col-md-2">{{myaccount.balance}}</div>
      <div class="col-xs-7 col-md-2">
            {{myaccount.currency}}
      </div>
      <div class="col-xs-7 col-md-2">
         <span ng-if="myaccount.active"><i class="fa fa-check" aria-hidden="true"></i></span>
         <span ng-if="!myaccount.active"><i class="fa fa-times" aria-hidden="true"></i></span>
      </div>
      <div class="col-md-2">
<!--         <a class="btn btn-primary"
            ui-sref="myaccount.edit({id: myaccount.myaccountId})" >
            <i class="fa fa-pencil-square-o"></i>
            <span class="hidden-xs" 
                  translate="myaccount-list.label.edit" >
               Myaccount Edit
            </span>
         </a>-->
         <a ng-if="!myaccount.active"
            class="btn btn-success"
            ng-click="activeMyaccount(myaccount.accountId)">
            <i class="fa fa-check-square-o"></i>
            <span class="hidden-xs" 
                  translate="myaccount-list.label.active" >
               Active myaccount
            </span>
         </a>
<!--         <a 
            class="btn btn-danger"
            ng-click="deleteMyaccount(myaccount.accountId)">
            <i class="fa fa-times"></i>
            <span class="hidden-xs" 
                  translate="myaccount-list.label.delete" >
               Myaccount delete
            </span>
         </a>
         <button class="btn btn-primary" ui-sref="myaccount.boost({id: myaccount.accountId})">
            <span class="hidden-xs" 
                  translate="myaccount-list.label.boost" >
               Myaccount Boost
            </span>
         </button>-->
      </div>
   </div>
</div>

<div class="modal fade" tabindex="-1" id="ProcessingModal" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <div class="text-center">
               <i class="fa fa-cog fa-5x fa-spin"></i>
               <h4>{{'myaccount-list.label.loading'|translate}} </h4>
            </div>
         </div>
      </div>
   </div>
</div>
