<h3>
   <span translate="currency-add.label.new">
      New Currency
   </span>
</h3>
<br/>
<form method="post" class="form-horizontal"
      role="form" action="..." name="currencyForm">
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(currencyForm.symbol.$valid,currencyForm.symbol.$dirty),
               'has-error':andOperator(currencyForm.symbol.$invalid,currencyForm.symbol.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="currency-add.label.symbol">Provision</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input class="form-control"
                name="symbol" 
                required="true"
                ng-attr-placeholder="{{'currency-add.label.symbol'|translate}}"
                ng-model="currency.symbol"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(currencyForm.symbol.$error.required, currencyForm.symbol.$dirty)"
            translate="currency-add.validator.symbol.required">symbol is required</p>
      </div>
   </div>

   <div class="row">
      <div class="col-md-11">
         <button type="button"  
                 class="btn btn-primary btn-lg pull-right" 
                 ng-attr-title="{{'currency-add.button.save'|translate}}"
                 ng-click="saveCurrency()" 
                 ng-disabled="questionnaireTemplateForm.$invalid">

            <i class="fa fa-save"></i>
            <span translate="currency-add.button.save">Save</span>
         </button>
      </div>
      <div class="col-md-1">  
         <a ui-sref="currency.list" ng-attr-title="{{'currency-add.button.cancel'|translate}}" class="btn btn-default pull-right">
            <i class="fa fa-undo"></i>
            <span translate="currency-add.button.cancel">Cancel</span>
         </a>
      </div>
   </div>
</form>
