<div class="row">
   <div class="col-md-9 col-xs-12">
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'currency-details.currency.finishDate'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{currency.finishDate | date:'yyyy-MM-dd HH:mm'}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'currency-details.currency.startDate'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{currency.startDate | date:'yyyy-MM-dd HH:mm'}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'currency-details.currency.rateOfInterest'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{currency.rateOfInterest}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'currency-details.currency.interest'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{currency.interest}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'currency-details.currency.insurance'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{currency.insurance}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'currency-details.currency.installment'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{currency.installment}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'currency-details.currency.provision'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{currency.provision}}</div>
      </div>
   </div>
</div>

