<div class="col-md-12">
   <div class="row">
         <label class="medium-size-font">
            {{user.firstname}} {{user.lastname}}
         </label>
   </div>
</div>
<div class="hidden-xs">
   <div ui-view=""></div>
</div>