<div class="row">
   <div class="col-md-9 col-xs-12">
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'credit-details.credit.type'|translate}}</label>
         <div class="col-md-4 col-xs-7">
            <span ng-if="credit.type === 'money'">{{'credit-details.type.money'|translate}}</span>
            <span ng-if="credit.type === 'car'">{{'credit-details.type.car'|translate}}</span>
            <span ng-if="credit.type === 'house'">{{'credit-details.type.house'|translate}}</span>
            <span ng-if="credit.type === 'study'">{{'credit-details.type.study'|translate}}</span>
         </div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'credit-details.credit.contribution'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.contribution}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'credit-details.credit.interest'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.interest}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'credit-details.credit.insurance'|translate}}</label>
         <div class="col-md-4 col-xs-7">
            <span ng-if="credit.insurance"><i class="fa fa-check" aria-hidden="true"></i></span>
            <span ng-if="!credit.insurance"><i class="fa fa-times" aria-hidden="true"></i></span>
         </div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'credit-details.credit.changingRate'|translate}}</label>
         <div class="col-md-4 col-xs-7">
            <span ng-if="credit.changingRate"><i class="fa fa-check" aria-hidden="true"></i></span>
            <span ng-if="!credit.changingRate"><i class="fa fa-times" aria-hidden="true"></i></span>
         </div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'credit-details.credit.installment'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.installment}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'credit-details.credit.provision'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.provision}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'credit-details.credit.currency'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.currency}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'credit-details.credit.granted'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.granted}}</div>
      </div>
   </div>
</div>

