<h3>
   <span translate="activeCredit-add.label.new">
      New ActiveCredit
   </span>
</h3>
<br/>
<form method="post" class="form-horizontal"
      role="form" action="..." name="activeCreditForm">

   <div class="form-group" >
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="activeCredit-add.label.type">Type</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <select class="form-control"
                 required="true"
                 ng-model="creditType"
                 >
            <option  value="house">{{'activeCredit-add.type.house'|translate}}</option>
            <option  value="money">{{'activeCredit-add.type.money'|translate}}</option>
            <option  value="car">{{'activeCredit-add.type.car'|translate}}</option>
            <option  value="study">{{'activeCredit-add.type.study'|translate}}</option>
         </select>
      </div>
   </div>

   <div class="form-group" 
        ng-class="{'has-success':andOperator(activeCreditForm.finishDate.$valid,activeCreditForm.finishDate.$dirty),
               'has-error':andOperator(activeCreditForm.finishDate.$invalid,activeCreditForm.finishDate.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="activeCredit-add.label.finishDate">Finish date</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <!--         <input type="text"
                         class="form-control"
                         name="finishDate" 
                         required="true"
                         ng-attr-placeholder="{{'activeCredit-add.label.finishDate'|translate}}"
                         ng-model="activeCredit.finishDate"
                  ></input>-->
         <div class="dropdown">
            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
               <div class="input-group">
                  <input type="text" class="form-control" data-ng-model="activeCredit.finishDate" name="finishDate" 
                         required="true"
                         ng-attr-placeholder="{{'activeCredit-add.label.finishDate'|translate}}"/>
                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
               </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
               <datetimepicker data-ng-model="activeCredit.finishDateCalendar"  data-on-set-time="onTimeSet(newDate, oldDate)"
                               data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minView:'day'}"/>
            </ul>
         </div>
         <p class="error text-danger"
            ng-show="andOperator(activeCreditForm.finishDate.$error.required, activeCreditForm.finishDate.$dirty)"
            translate="activeCredit-add.validator.finishDate.required">Finish date is required</p>
      </div>
   </div>
   <div class="form-group" 
        ng-class="{'has-success':andOperator(activeCreditForm.credit.$valid,activeCreditForm.credit.$dirty),
               'has-error':andOperator(activeCreditForm.credit.$invalid,activeCreditForm.credit.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="activeCredit-add.label.credit">Interest</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <select class="form-control"
                 required="true"
                 ng-model="activeCredit.creditId"
                 >
            <option ng-repeat="credit in credits| filter:{type:creditType}" value="{{credit.creditId}}">Min. kwota: {{credit.minValue}} Max. kwota: {{credit.maxValue}} Prowizja: {{credit.provision}}% Odsetki: {{credit.interest}}% Wkład: {{credit.contribution}} Okres raty(msc): {{credit.installment}}</option>
         </select>

         <p class="error text-danger"
            ng-show="andOperator(activeCreditForm.credit.$error.required, activeCreditForm.credit.$dirty)"
            translate="activeCredit-add.validator.credit.required">Currency is required</p>
      </div>
   </div>

   <div class="form-group" 
        ng-class="{'has-success':andOperator(activeCreditForm.value.$valid,activeCreditForm.value.$dirty),
               'has-error':andOperator(activeCreditForm.value.$invalid,activeCreditForm.value.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="activeCredit-add.label.value">Value</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="value" 
                required="true"
                ng-attr-placeholder="{{'activeCredit-add.label.value'|translate}}"
                ng-model="activeCredit.value"
                ></input>
         <p class="error text-danger"
            ng-show="andOperator(activeCreditForm.value.$error.required, activeCreditForm.value.$dirty)"
            translate="activeCredit-add.validator.value.required">Value is required</p>
      </div>
   </div>



   <div class="row">
      <div class="col-md-11">
         <button type="button"  
                 class="btn btn-primary btn-lg pull-right" 
                 ng-attr-title="{{'activeCredit-add.button.save'|translate}}"
                 ng-click="saveActiveCredit()" 
                 ng-disabled="activeCreditForm.$invalid">

            <i class="fa fa-save"></i>
            <span translate="activeCredit-add.button.save">Save</span>
         </button>
      </div>
      <div class="col-md-1">  
         <a ng-click="cancel()" ng-attr-title="{{'activeCredit-add.button.cancel'|translate}}" class="btn btn-default pull-right">
            <i class="fa fa-undo"></i>
            <span translate="activeCredit-add.button.cancel">Cancel</span>
         </a>
      </div>
   </div>
</form>
