<h3>
   <span translate="activeCredit-edit.label.edit">
      New User
   </span>
</h3>
<br/>
<form method="post" class="form-horizontal"
      role="form" action="..." name="activeCreditForm">
   <div class="form-group"
        ng-class="{'has-success':andOperator(activeCreditForm.startDate.$valid,activeCreditForm.startDate.$dirty),
               'has-error':andOperator(activeCreditForm.startDate.$invalid,activeCreditForm.startDate.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="activeCredit-edit.label.startDate">Start Date</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="startDate" 
                required="true"
                ng-attr-placeholder="{{'activeCredit-edit.label.startDate'|translate}}"
                ng-model="activeCredit.startDate"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(activeCreditForm.startDate.$error.required, activeCreditForm.startDate.$dirty)"
            translate="activeCredit-edit.validator.startDate.required">Start date is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(activeCreditForm.finishDate.$valid,activeCreditForm.finishDate.$dirty),
               'has-error':andOperator(activeCreditForm.finishDate.$invalid,activeCreditForm.finishDate.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="activeCredit-edit.label.finishDate">Finish date</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="finishDate" 
                required="true"
                ng-attr-placeholder="{{'activeCredit-edit.label.finishDate'|translate}}"
                ng-model="activeCredit.finishDate"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(activeCreditForm.finishDate.$error.required, activeCreditForm.finishDate.$dirty)"
            translate="activeCredit-edit.validator.finishDate.required">Finish date is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(activeCreditForm.provision.$valid,activeCreditForm.provision.$dirty),
               'has-error':andOperator(activeCreditForm.provision.$invalid,activeCreditForm.provision.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="activeCredit-edit.label.provision">Provision</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="provision" 
                required="true"
                ng-attr-placeholder="{{'activeCredit-edit.label.provision'|translate}}"
                ng-model="activeCredit.provision"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(activeCreditForm.provision.$error.required, activeCreditForm.provision.$dirty)"
            translate="activeCredit-edit.validator.provision.required">Provison is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(activeCreditForm.installment.$valid,activeCreditForm.installment.$dirty),
               'has-error':andOperator(activeCreditForm.installment.$invalid,activeCreditForm.installment.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="activeCredit-edit.label.installment">Installment</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="installment" 
                required="true"
                ng-attr-placeholder="{{'activeCredit-edit.label.installment'|translate}}"
                ng-model="activeCredit.installment"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(activeCreditForm.installment.$error.required, activeCreditForm.installment.$dirty)"
            translate="activeCredit-edit.validator.installment.required">Installment is required</p>
      </div>
   </div>
   
      <div class="form-group" 
   		ng-class="{'has-success':andOperator(activeCreditForm.rateOfInterest.$valid,activeCreditForm.rateOfInterest.$dirty),
               'has-error':andOperator(activeCreditForm.rateOfInterest.$invalid,activeCreditForm.rateOfInterest.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="activeCredit-edit.label.rateOfInterest">Rate Of Interest</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="rateOfInterest" 
                required="true"
                ng-attr-placeholder="{{'activeCredit-edit.label.rateOfInterest'|translate}}"
                ng-model="activeCredit.rateOfInterest"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(activeCreditForm.rateOfInterest.$error.required, activeCreditForm.rateOfInterest.$dirty)"
            translate="activeCredit-edit.validator.rateOfInterest.required">Rate Of Interest is required</p>
      </div>
   </div>
   
      <div class="form-group" 
   		ng-class="{'has-success':andOperator(activeCreditForm.interest.$valid,activeCreditForminterest.$dirty),
               'has-error':andOperator(activeCreditForm.interest.$invalid,activeCreditForm.interest.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="activeCredit-edit.label.interest">Interest</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="interest" 
                required="true"
                ng-attr-placeholder="{{'activeCredit-edit.label.interest'|translate}}"
                ng-model="activeCredit.interest"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(activeCreditForm.interest.$error.required, activeCreditForm.interest.$dirty)"
            translate="activeCredit-edit.validator.interest.required">Interest is required</p>
      </div>
   </div>
   
   <div class="form-group" >
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="activeCredit-edit.label.insurance">Insurance</label>
      </span>
      <div class="col-sm-1">
         <input type="checkbox"
                class="form-control left"
                name="insurance" 
                ng-model="activeCredit.insurance"
         ></input>
      </div>
   </div>

   <div class="row">
      <div class="col-md-11">
         <button type="button"  
                 class="btn btn-primary btn-lg pull-right" 
                 ng-attr-title="{{'activeCredit-edit.button.save'|translate}}"
                 ng-click="saveActiveCredit)" 
                 ng-disabled="questionnaireTemplateForm.$invalid">

            <i class="fa fa-save"></i>
            <span translate="activeCredit-edit.button.save">Save</span>
         </button>
      </div>
      <div class="col-md-1">  
         <a ui-sref="activeCredit.list" ng-attr-title="{{'activeCredit-edit.button.cancel'|translate}}" class="btn btn-default pull-right">
            <i class="fa fa-undo"></i>
            <span translate="activeCredit-edit.button.cancel">Cancel</span>
         </a>
      </div>
   </div>
</form>
